<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>StockTracker</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <style>
      .fondo-bg{
        background-image: url(/images/fondo-bg.png);
        font-family: 'Lato';
      }
    </style>
  </head>

  <body class="fondo-bg">

    <header th:insert="~{fragments/menu :: menu-principal}"></header>

    <main role="main" class="py-5">
      <hr>
      <div class="container"> 

        <div class="card bg-secondary text-light">
          <h4 class="card-header"><strong>Edición de Clientes</strong></h4>
          <div class="card-body">
            <form th:action="@{/clientes/save}" th:object="${clientes}" method="post">
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="hidden" class="form-control" th:field="*{id}" id="nº id" name="nº id" >
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Escriba su nombre" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="Numero de Refr">Número de Referencia</label>
                    <input type="text" class="form-control" th:field="*{numRefr}" id="munRefr" name="NumRfer" placeholder="Número de Referencia" required="required">
                  </div> 
                </div>    
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" th:field="*{correo}" id="correo" name="correo" placeholder="Correo Electrónico" required="required">
                  </div>
                </div>


                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="empresa">Empresa</label>
                    <input type="text" class="form-control" th:field="*{empresa}" id="empresa" name="empresa" placeholder="Empresa" required="required">
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" th:field="*{direccion}" id="direccion" name="direccion" placeholder="Dirección" required="required">
                  </div>
                </div>


              </div>                  
              <hr>
              <button type="submit" title="Actualizar Datos" class="btn btn-primary">Actualizar Información</button>
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="~{fragments/footer :: pie-pagina}" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>