<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>StockTracker</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

      <style>
          .fondo-bg{
              background-image: url(/images/fondo-bg.png);
              font-family: 'Lato';
          }
      </style>
  </head>


  <body class="fondo-bg">

    <header th:insert="~{fragments/menu :: menu-principal}"></header>

    <main role="main" class="py-5">
      <hr>
      <div class="container"> 

        <div class="card bg-secondary text-light">
          <h4 class="card-header"><strong>Listado de Clientes</strong></h4>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <a class="btn btn-primary mb-3" th:href="@{/clientes/create}" title="Añadir cliente" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nuevo Cliente</a>
              </div>
              <div class="col-md-6">
                <form class="form-inline" th:action="@{/clientes/index}">
                  <div class="row">
                    <div class="form-group">
                      <label>Filtrar: </label>
                    </div>
                    <div class="col-md-6 form-group">
                      <input type="text" class="form-control" name="filtro" id="filtro" th:value="${filtro}" placeholder="Introduce valor a filtrar" required>
                    </div>
                    <div class="col-md-2">
                      <input type="submit" class="btn btn-primary" value="Buscar">
                    </div>
                    <div class="col-md-2">
                      <input type="button" class="btn btn-danger" value="Limpiar" onclick="limpiarFiltro()">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
              <div class="table-responsive">
                  <table class="table table-dark table-hover table-striped">
                      <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Nº de Referencia</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Empresa</th>
                    <th scope="col">Dirección</th>
                  <th scope="col">Total Pedidos</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="cliente : ${clientes}">
                  <td th:text="${cliente.id}"></td>
                  <td th:text="${cliente.nombre}"></td>
                  <td th:text="${cliente.numRefr}"></td>
                  <td th:text="${cliente.correo}"></td>
                    <td th:text="${cliente.empresa}"></td>
                    <td th:text="${cliente.direccion}"></td>
                  <td th:text="${cliente.totalped}"></td>
                  <td>
                    <a th:href="@{/clientes/delete/{id} (id=${cliente.id}) }"
                       onclick="myFunction2()" class="btn btn-success btn-sm confirmar" role="button" title="Eliminar"><i class="fas fa-trash" aria-hidden="true"></i></a>
                      <a th:href="@{/clientes/edit/{id} (id=${cliente.id}) }"
                         class="btn btn-warning btn-sm " role="button" title="Modificar"><i class="fas fa-address-card" aria-hidden="true"></i></a>





                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="~{fragments/footer :: pie-pagina}" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script>


    </script>
    <script>
	
		// Guardamos en una variable una funcion que muestra un cuadro de dialogo de tipo confirm
		var dialogoConfirm = function (e) {
			if (!confirm('¿Realmente desea eliminar el Cliente?'))
				e.preventDefault();
		};

		// Aplicamos a todos los elementos HTML que tengan la clase CSS 'confirmar' el evento click para que muestre el cuadro de dialogo de confirmacion. 
		document.querySelectorAll('.confirmar').forEach(function(elemento) {
			elemento.addEventListener('click', dialogoConfirm, false);
		});

        function limpiarFiltro(){
          window.location = '/clientes/index';
        }
	
	</script>
         
  </body>
</html>
